@entry-width: 4.5rem;
@entry-height: 4.5rem;
@entry-margin: 0.3rem;

.container {
  width: @entry-width;
  height: @entry-height;
  display: inline-block;
  text-align: center;
  margin: @entry-margin;
  overflow: hidden;
  font-size: 1.5rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kana :nth-child(2) {
  margin-left: 0.5rem;
}

.hiragana, .katakana {
  display: inline-block;
}

.selected {
  background: #eee;
}

.clickable {
  cursor: pointer;
}
